.galleryWrapper {
	padding: 10% 10%;
}
.galleryContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.galleryItem img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
